.Posts {
    text-align: center;
    background-image: url(../../../public/hero.jpg);
  }
  
  .input{
    padding: 9px 0px 7px 8px;
    margin-bottom: 8px;
    width: 250px;
    height: 20px;
    background-color: #fafafa;
    border: solid 1px #dbdbdb;
    overflow: hidden;

}

.input:hover {
    background-color: #000;
    color: #fff;
    border: solid 1px #dbdbdb;
}

.btnPost{
    border: solid 1px black;
    align-items: center;
    width: 250px;
}

.containerContent {
    padding-top: 80px;
    padding-bottom: 50px;
}


.containerLogin{
    margin-bottom: 10px;
    overflow-y: hidden;
    overflow-y:scroll ;
    
}

.posts-create {
    padding-top: 80px;
    padding-bottom: 50px;
}

.post-item {
    display: inline-block;
    margin: 5px;
    align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 3em;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, #596984 0%, #23314a 100%);
}

.post-list {
  overflow: hidden;
  overflow-y: scroll;
  width: 700px;
  height: 900px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0, 0.5);
  /* background-color: rgba(255, 255, 255,255, 0.7); */
  border-radius: 15px;
}

.postsContainer {
  margin-right: 3px;
  margin-bottom: 30px;
  margin-top: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(4px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.headerPost {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  backdrop-filter: blur(10px);
  padding: 16px;
  align-items: center;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
}

.spanTitle {
  margin-left: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: block;
  text-align: left;
  font-weight: bold;
}

.spanDescription {
  margin-left: 20px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  text-align: justify;
  padding-bottom: 30px;
}

.spanUbication {
  margin-left: 20px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: block;
  align-items: center;
  text-align: justify;
}

.iconUbi {
  margin-left: -4px;
  margin-bottom: -6px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  justify-content: left;
}

.editButton {
  flex: 0 0 auto;
  align-self: flex-start;
  margin-top: -4px;
  margin-right: 8px auto;
  margin-bottom: -4px;
}

.titlePost {
  flex: 1 1 auto;
}

.imagenContainer {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.5);
  justify-content: center;
  backdrop-filter: blur(10px);
  padding: 16px;
  align-items: center;
  min-height: 300px auto;
  background-color: rgba(255, 255, 255, 0.3);
}

.descriptionPost {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  backdrop-filter: blur(10px);
  padding: 16px;
  align-items: center;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
}

.btnLikeContainer {
  margin-left: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: block;
  text-align: left;
  font-weight: bold;
}

.btnLike {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.btnDelete {
  padding-top: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.input {
  padding: 9px 0px 7px 8px;
  margin: 8px;
  width: 250px;
  height: 20px;
  background-color: #fafafa;
  border: solid 1px #dbdbdb;
}

.input:hover {
  background-color: rgba(0, 255, 255, 0.426);
  color: #000;
  border: none;
}

.btnPost {
  border: solid 1px black;
  align-items: center;
  width: 250px;
  background-color: #1b6dfa;
}