.containerLogin {
  margin-bottom: 10px;
}

.containerContent {
  padding-top: 80px;
  padding-bottom: 50px;
}

.input-correo {
  padding: 9px 0px 7px 8px;
  margin-bottom: 8px;
  width: 250px;
  height: 20px;
  background-color: #fafafa;
  border: solid 1px #dbdbdb;
}

.input-correo:hover {
  background-color: #000;
  color: #fff;
  border: solid 1px #dbdbdb;
}

.input-password {
  padding: 9px 0px 7px 8px;
  margin-bottom: 20px;
  width: 250px;
  height: 20px;
  background-color: #fafafa;
  border: solid 1px #dbdbdb;
}

.input-password:hover {
  background-color: #000;
  color: #fff;
  border: solid 1px #dbdbdb;
}

.btnLogin {
  border: solid 1px black;
  align-items: center;
  width: 250px;
}

.containerRegister {
  display: flex;
  align-items: center;
  text-align: center;
}

.containerLabel-Resgistro {
  display: flex;
  text-align: center;
  align-items: center;
}

.labelRegistro {
  padding-top: 14px;
  padding-left: 40px;
}
